<div style='padding-bottom: 10px'>
<p style='color: black; font-family: arial; font-size: 14px'>
  <%= comment.body %>
</p>
<i><p style='color: DimGray; font-family: arial; font-size: 12px; font-weight: 300'>
<%= comment.commenter %>
</p></i>
</div>